{{define "signup"}}
<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>サインアップ</title>
</head>
<body>
<form action="/signup" method="post">
    <p>登録メールアドレス</p>
    <p><input type="text" name="email" value="{{.Email}}"></p>
    <p>登録パスワード</p>
    <p><input type="password" name="password" value="{{.Password}}"></p>
    <p>登録名</p>
    <p><input type="text" name="name" value="{{.Name}}"></p>
    <p>プロフィール</p>
    <p><input type="text" name="profile" value="{{.Profile}}"></p>
    <p><input type="submit" value="サインアップ"></p>
</form>
</body>
</html>
{{end}}